* {
    font-family: "Montserrat", sans-serif;
    margin: none; margin: 0px;
    padding: none; padding: 0px;
    box-sizing: border-box;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}