@media screen and (orientation:landscape) {
    body header section {
        width: 15vw;
    }
    body main section {
        max-width: 30vw;
    }
}

@media screen and (orientation:portrait) {
    body header section {
        width: 50vw;
    }

}