/* General Body Styling */
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header Styling */
body header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--oranye);
    color: white;
    padding: 10px 2vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 10vh;
}

body header h1 {
    margin: 10px 0;
    font-size: 24px;
    color: var(--beige);
    cursor: pointer;
}

body header nav {
    display: flex;
    justify-content: flex-start;
}

body header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0 30px 0 0;
}

body header nav ul li {
    margin-right: 10px;
    font-size: 20px;
    color: var(--merah); 
    background-color: var(--beige);
    border-radius: 8px;
    cursor: pointer;
    padding: 7px 15px;
    transition: background-color 0.3s, color 0.3s;
}

body header nav ul li:hover {
    color: white;
    background-color: var(--kuning);
}

/* Sidebar */
body header section {
    position: absolute;
    display: none;
    background-color: var(--kuning);
    top: 100px;
    left: 1vw;
    max-width: 50vw;
    height: 100vh;
    border: 1px solid #ddd;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body header section:nth-of-type(2) {
    right: 1vw;
    left: auto;
}

body header section h2 {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: var(--oranye);
    margin: 0;
}

/* Sidebar items Styling */
body header section div {
    display: flex;
    padding: 14px;
    flex-direction: column;
}

#name_selection p{
    transition: 0.3s;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: var(--merah);
    background-color: var(--beige);
    cursor: pointer;
}

#name_selection p:hover {
    background-color: var(--oranye); 
    color: white;
}

#name_selection .highlight1{
    background-color: var(--oranye); 
    color: white;
}

.highlight2{
    background-color: var(--kuning); 
    color: white;
}


body header section div:nth-child(n + 5) {
    padding: 5px 16px; 
}

body header section div select {
    appearance: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: 2px solid var(--krem); 
    border-radius: 10px; 
    background-color: var(--beige); 
    color: var(--merah); 
    cursor: pointer; 
    transition: all 0.3s ease; 
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="var(--merah)" d="M7 10l5 5 5-5z"/></svg>'); /* Custom arrow */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-position: right 10px center; /* Position the background image */
    background-size: 16px 16px; /* Size of the background image */
}

body header section div select:hover {
    background-color: var(--oranye); 
    color: white;
}

body header section div input {
    appearance: none;
    cursor: pointer;
    background: white; 
    outline: none;
    transition: 0.3s ease;
    transition: opacity .2s;
    border-radius: 5px;
}

body header section div input:hover {
    background-color: var(--beige); 
}

body header section div input::-webkit-slider-thumb {
  appearance: none;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  background: var(--oranye);
  cursor: pointer;
}

body header section div button{
    padding: 10px;
    margin: 3px -1px;
    font-size: 16px;
    color: var(--merah); 
    background-color: var(--beige);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

body header section div button:hover {
    background-color: var(--oranye); 
    color: white;
}

body header section div label,span {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    color: var(--merah); 

}








/* Main Content Styling */
body main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 85%;
    align-self: center;
}

body main section {
    border: 1px solid var(--merah);
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
}

/* Footer Styling */
body footer {
    background-color: var(--kuning);
    color: white;
    padding: 20px 2vw;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

body footer p {
    margin: 5px 0;
}

body footer a {
    color: var(--merah);
    text-decoration: none;
    transition: color 0.3s;
}

body footer a:hover {
    color: #FF4500;
}

body footer .social-icons {
    margin: 10px 0;
}

body footer .social-icons a {
    margin: 0 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
}

body footer .social-icons a.facebook {
    background-image: url('https://image.flaticon.com/icons/svg/733/733547.svg');
}

body footer .social-icons a.twitter {
    background-image: url('https://image.flaticon.com/icons/svg/733/733579.svg');
}

body footer .social-icons a.instagram {
    background-image: url('https://image.flaticon.com/icons/svg/733/733558.svg');
}

body footer .social-icons a.linkedin {
    background-image: url('https://image.flaticon.com/icons/svg/733/733561.svg');
}


