
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
}

.container header{
    z-index: 1000;
}

header .header-content {
    display: flex;
    align-items: center;
}
header .header-content .logo {
    font-size: 1.5em;
    font-weight: bold;
}
.member {
    text-align: center;
    margin: 20px 0;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 200px;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
}
.card .header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dc6b29;
}
.card .header img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
}
.card .body {
    padding: 20px;
    text-align: center;
}
.card .body h3 {
    margin: 10px 0;
    font-size: 1.2em;
}
.card .body p {
    color: #666;
}
.card .social-icons a {
    margin: 0 5px;
    color: #dc6b29;
    text-decoration: none;
}
.main-content {
    display: flex;
    margin-top: 20px;
}
.sidebar {
    width: 30%;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
}
.sidebar h3 {
    margin-bottom: 10px;
    color: white;
}
.sidebar p {
    margin: 10px;
}

.dashboard {
    width: 70%;
    padding: 20px;
}
.metrics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.metric {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin: 0px 10px;
    text-align: center;
    width: 23%;
}
.charts canvas {
    margin-top: 20px;
}

.tableFilters {
    display: flex;
    justify-content: space-around;
    gap: 10px; 
}


.tableFilters select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.tableFilters select option {
    font-size: 14px;
}
footer {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
footer .social-icons a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}
footer p {
    margin: 10px 0;
}

@media (max-width: 768px) {



    header .header-content .logo {
        font-size: 14px;
    }

    .main-content {
        flex-direction: column;
        width: 100%;
    }
    .sidebar, .dashboard {
        width: 90%;
        margin-bottom: 20px;
    }
    .metrics {
        flex-direction: column;
    }
    .metric {
        width: 80%;
        margin-bottom: 10px;
    }
    .charts {
        grid-template-columns: repeat(1, 1fr);
    }
    .card {
        width: 65vw;
    }

}