body header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: red;
}

body header h1{
    margin: 10px;
    margin-left: 2vw;
}

body header nav{
    display: flex;
    justify-content: flex-start;
}

body header nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 30px;
}

body header nav ul li{
    margin-right: 10px;
}

